* {
  box-sizing: border-box;
}

.form_container {
  display: flex;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  align-items: flex-end;
}

.form_container label {
  display: block;
  margin-bottom: 3px;
}

.form_container input {
  display: block;
  height: 30px;
}

.form_container div {
  margin-right: 10px;
}

.form_container button {
  height: 30px;
}

.list {
  list-style-type: none;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.list li {
  display: flex;
  flex-flow: row;
}

.list-item_date {
  margin-right: 100px;
}

.list-item_distance {
  margin-right: 50px;
}

.delete {
  margin-left: auto;
}